*{
    margin: 0px
}


#container{
    border: 2px solid black;
    margin: auto;
    min-height: 729px;
    width: 100%;
    
}

#login-panel{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.215);
    height: 465px;
    width: 390px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.26)
}

#link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#signup-panel{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.215);
    height: 610px;
    width: 430px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}


#heading{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #007bff;
}


.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.374);
    padding:20px;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.280);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    padding: 20px;
    
}


.card:hover {
    transform: scale(1.01);
}


#index-body{
    background: linear-gradient(to right, #332fab, #a8e063);
    height: 729px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#welcome-container {
    background: rgba(255, 2-w55, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}